@import "./componentes/config";
@import "./componentes/breakpoints";
@import "./componentes/header";

section {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: $orange;
    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media(tablet) {
            width: 100%;
            flex-direction: row;
        }    
    }
}
form {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: $white;
    border-radius: 10px;
    @include media(tablet) {
        width: 50%;
        height: 100%;
    }
}
.input_label {
    font-family: $font;
    font-weight: 300;
    color: $gray;
    @include font-size(30px);
}
.input-container {
    display: flex;
    justify-content: center;
    position: relative;
    .input {
        width: 150px;
        height: 80px;
        padding: 10px;
        margin: 0 auto;
        border: none;
        text-align: center;
        outline: royalblue;
        background-color: rgba($black, .1);
        color: $orange;
        border-radius: 10px;
        @include font-size(40px)
    }
    span {
        position: absolute;
        top: 25%;
        left: 10%;
        font-family: $font;
        font-size: 30px;
        color: $orange
    }
}
.button {
    width: 120px;
    padding: 6px 12px;
    margin: 16px auto;
    font-family: $font;
    font-weight: bold;
    background-color: $orange;
    color: $white;
    border-radius: 20px;
    border: none;
    @include font-size(16px)
}
.result-container {
    width: 90%;
    padding: 20px;
    text-align: center;
    background-color: $orange;
    p {
        font-family: $font;
        color: $white;
        @include font-size(30px)
    }
    @include media(tablet) {
        width: 50%;
        height: 100%;
    }
}