@import "./componentes/config";
@import "./componentes/breakpoints";
@import "./componentes/header";

.statistics-container {
    width: 100%;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 400px));
    justify-content: center;
    gap: 20px;
}
.statistics {
    height: 360px;
    @include box();
    &__header--title {
        margin-bottom: 20px;
        text-align: center;
        font-family: $font;
        color: $orange;
        @include font-size(32px);
    } 
    &__form--label {
        display: block;
        margin-bottom: 24px;
        font-family: $font;
        color: $black;
        font-weight: 600;
        letter-spacing: 1px;
        @include font-size(16px);
    }
    &__inputs-container {
        margin: 0 auto;
        width: 280px;
        height: 40px;
        padding: 5px;
        border: 2px solid rgba($gray, .7);
        border-radius: 20px;
    }
    &__input {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-family: $font;
        @include font-size(18px)
    }
    &__results {
        margin-top: 14px;
        text-align: center;
        font-family: $font;
        color: $black;
        font-weight: bold;
        letter-spacing: 1px;
        @include font-size(28px)
    }
}

.button {
    width: 120px;
    height: 30px;
    display: block;
    margin: 20px auto;
    background-color: $orange;
    border: none;
    border-radius: 20px;
    font-family: $font;
    font-weight: bold;
    color: $white;
    @include font-size(18px)
}
.average-box{
    background: $black;
    .average-label,
    .average-input,
    .average-result {
        color: $white;
    }
}
.moda-box {
    background-color: $orange;
    .moda-title {
        color: $white;
    }
    .moda-button {
        background-color: $white;
        color: $orange;
    }
    .moda-label {
        color: $gray;
    }
}
.geometrica-box {
    background-color: $gray;
    .geometrica-input-container {
        border: 2px solid rgba($orange, .6);
        input {
            color: $white;
        }
        ::placeholder{
            color: $orange;
        }
    }
}