@import "./componentes/config";
@import "./componentes/header";

.figures-container {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 20px;
    justify-content: center;
}
.figure {
    height: 340px;
    @include box();
    &__header {
        margin-bottom: 14px;
        display: flex;
        align-items: center;
        &--title {
            margin-left: 8px;
            font-weight: 600;
            font-family: $font;
            color: $white;
            @include font-size(22px)
        }
    }
    &__input {
        width: 90%;
        height: 28px;
        margin: 12px;
        padding: 2px 20px;
        border: 2px solid rgba($white,  .4);
        outline: none;
        background-color: rgba($white,  .4);
        border-radius: 20px;
        @include font-size(16px);
    }
    &__button-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        button {
            margin-top: 10px;
            padding: 6px 12px;
            background-color: $white;
            border: none;
            border-radius: 20px;
            font-family: $font;
            font-weight: bold;
            cursor: pointer;
        }
    }
    &__results-container {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .figure__results {
            font-family: $font;
            color: $black;
            margin-bottom: 10px;
            @include font-size(18px);
        }
    }
}
.figure__form--label {
    font-family: $font;
    color: $white;
    margin-bottom: 14px;
    @include font-size(16px);
}
.fa-square,
.fa-circle {
    color: $white;
    font-weight: 300;
    @include font-size(20px);
}
.triangles-icons-container {
    position: relative;
}
.fa-play {
    transform: rotate(-90deg);
}
.outside-triangle {
    position: relative;
    color: $gray;
    font-size: 30px;
}
.inside-triangle {
    color: $light-blue;
    font-size: 20px;
    position: absolute;
    top:20%;
    left:16%;
}
.square-box {
    background-color: $red-color;
}
.triangle-box {
    background-color: $light-blue;
    height: 420px;
    .triangle-title {
        color: $black;
    }
    .triangle-label {
        color: $gray;
    }
}
.circle-box {
    background-color: $orange;
}